body {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightblue !important; /* couldn't get it to work otherwise */
}

.listContainer {
    list-style-position: inside; /* keeps the dots/numbers near the content */
}

.pageContainer {
    width: 900;
    background-color: rgb(0, 88, 202);
}

.articleContainer {
    padding:0px;
}

a:visited {
    color:red;
}

a:hover {
    color:green;
}

.pageContainer, h1 {
    font-size: 42;
}

hr {
    height: 5px;
}