body {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.listContainer {
    list-style-position: inside;
}

.pageContainer {
    width: 900;
    background-color: rgb(0, 88, 202);
}

.articleContainer {
    padding:0px
}

a:visited {
    color:red;
}

a:hover {
    color:green;
}